<section class="container-modal">
  <div class="modal-content">
    <div class="text-right "><img class="pointer" src="assets/images/exit.svg" alt="exit"></div>
    <div>
      <p class="text-title--24 mt-0  red-text">Nuevo Usuario</p>
    </div>
    <div class="grid-new-user">
      <div>
        <div class="input-box-form">
          <label class="mb-8">Apelidos</label>
          <input class="input-text" type="text">
        </div>
      </div>
      <div class="ml-24 mr-24">
        <div class="input-box-form">
          <label class="mb-8">Nombres</label>
          <input class="input-text" type="text">
        </div>
      </div>
      <div>
        <div class=" input-box-form">
          <label class="mb-8">Rol</label>
          <select class="form-select">
            <option>Admin</option>
            <option>Monitoreo</option>
          </select>
        </div>
      </div>
      <div class="mt-24">
        <div class="input-box-form">
          <label class="mb-8">Contraseña</label>
          <input class="input-text" type="text">
        </div>
      </div>
      <div class="ml-24 mt-24">
        <div class="input-box-form">
          <label class="mb-8">Confirmar Contraseña</label>
          <input class="input-text" type="text">
        </div>
      </div>
    </div>
    <div class="d-toggle mt-24">
        <button class="button btn-primary-red "> <span>Guardar</span></button>
    </div>
  </div>
</section>
