<header class="navbar-home-grid ">
  <div>
    <img src="assets/images/logo-fp.png" alt="logo-fp">
  </div>
  <div class="navbar-option-grid">
    <span class="text-body--sb16">Pedro Chiok</span>
    <span class="text-center"><img src="assets/images/user.svg" alt="user"></span>
    <span class="pointer"><img src="assets/images/menu-dot.svg" alt="menu"></span>
  </div>
  <!-- navbar Menu Option -->
  <!-- <div class="box-menu-option pointer">
          <div ><i class="icon-close pr-16"></i>Cerrar Sesión</div>
      </div> -->
</header>
<section class="">
  <div class="title-section text-title--24  red-text mt-24 mb-24 line-subtitle-xlarge  text-left">
    <p> Relación de Comprobantes</p>

  </div>
  <div class="grid-menu-comprobante pr-24 pl-24">

    <div>
      <p class="green-text text-title--comprobantes mb-8 mt-0">Farmacias Peruanas</p>
      <p class="gray-40-text mt-0"> <span class="text-body--sb16--g10 ">RUC</span> : 20345454321</p>
    </div>
    <div class="pr-24 grid-btn-export">
      <button class="button btn-primary-green button-search"><img class="icon-btn" src="assets/images/export.svg"
          alt="export">
        Exportar datos</button>
    </div>

  </div>
</section>
<section class="grid-option-filter mt-24">
  <div class="d-flex ml-24 mr-24">
    <p class="title-filter text-body--sb16--g10 gray-40-text mr-24">Tipo de Comprobantes</p>
    <div>
      <select class="form-select">
        <option>Todas</option>
        <option>Rechazadas</option>
      </select>
    </div>


  </div>
  <div >
    <div class="d-flex ml-24 mr-24">
      <p class="title-filter text-body--sb16--g10 gray-40-text mr-24">Fecha:</p>
      <input class="gray-40-text filter-date" type="date" name="" id="">
    </div>
  </div>
  <div class="d-flex ml-24 mr-24">
    <p class="title-filter text-body--sb16--g10 gray-40-text mr-24">Estado Sunat:</p>
    <div>
      <select class="form-select">
        <option>Todas</option>
        <option>Rechazadas</option>
      </select>
    </div>
  </div>
  <div class="d-flex ml-24 mr-24">
    <p class="title-filter text-body--sb16--g10 gray-40-text mr-24">Estado Cuadratura:</p>
    <div>
      <select class="form-select">
        <option>Todas</option>
        <option>Rechazadas</option>
      </select>
    </div>
  </div>
</section>
<section>
    <div class="container-table pl-24 pr-24">
        <table>
          <tr>
            <th>Tipo</th>
            <th>N° Comprobante</th>
            <th>RUC</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Estado de cuadratura</th>
            <th>Estado Sunat</th>
          </tr>
          <tbody>
            <tr>
              <td>Lorem</td>
              <td>12342222</td>
              <td>203435432</td>
              <td>23/03/2021</td>
              <td>S/ 300</td>
              <td>Lorem</td>
              <td>Lipsus</td>
            </tr>
    
    
          </tbody>
        </table>
      </div>
</section>
