<header class="navbar-home-grid ">
  <div>
    <img src="assets/images/logo-fp.png" alt="logo-fp">
  </div>
  <div class="navbar-option-grid">
    <span class="text-body--sb16">Pedro Chiok</span>
    <span class="text-center"><img src="assets/images/user.svg" alt="user"></span>
    <span class="pointer"><img src="assets/images/menu-dot.svg" alt="menu"></span>
  </div>
  <!-- navbar Menu Option -->
  <!-- <div class="box-menu-option pointer">
    <div class="pl-8 pr-8 pt-8 link-menu "><img class="pr-8" src="assets/images/tools.svg" alt="">Administrar Usuarios
    </div>
    <div class="pl-8 pr-8 pt-16 link-menu"><img class="pr-8" src="assets/images/dash-icon.svg" alt="">Dashboard</div>
    <div class="pl-8 pr-8 pt-16 link-menu"><img class="pr-8" src="assets/images/key.svg" alt="">Cambiar contraseña</div>
      <div class="pl-8 pr-8 pt-16 link-menu"><img class="pr-8" src="assets/images/config.svg" alt="">Ajuste de Sistema</div>
    <div class="pl-8 pr-8 pt-16 link-menu"><img class="pr-8" src="assets/images/logout.svg" alt="">Cerrar Sesión</div>
  </div> -->
</header>
<section class="">
  <div class="ml-24 pt-24">
    <a class="green-text link-back text-back mb-0 mt-0 pointer"><img class="pr-8 icon-back" src="assets/images/back-green.svg" alt=""> Regresar</a>
  </div>
  <div class="title-section text-title--24 red-text mt-24 mb-24 line-subtitle-large text-left">
    <p><img class="pr-8" src="assets/images/edit-user.svg" alt="edit"> Editar Usuarios</p>
    
  </div>

</section>
<section>
  <div class="container-table pl-24 pr-24">
    <table>
      <tr>
        <th>Código</th>
        <th >Apellidos</th>
        <th >Nombres</th>
        <th >Rol</th>
     
        <th>Contraseña</th>
        <th class="">Acciones</th>
      </tr>
      <tbody>
        <tr>
          <td>123456</td>
          <td>Lorem Lipsus</td>
          <td>Pedro Juan Pablo</td>
          <td >Monitoreo</td>
        
          <td>123456789</td>

          <td class="text-center d-flex">
            <div><img class="pointer" src="assets/images/edit-green.svg" alt="edit"></div>
            <div>
              <img class="pointer pl-24" src="assets/images/trash.svg" alt="delete">
            </div>
          </td>


        </tr>
        <tr>
            <td>123457</td>
            <td><input class="input-table" type="text" name="" id="" value="Lorem Lipsus"> </td>
            <td><input class="input-table" type="text" name="" id="" value="Pedro Juan Pablo"> </td>
            <td > <select class="form-select-table">
              <option>Admin</option>
              <option>Monitoreo</option>
  
  
            </select></td>
         
            <td>123456789</td>
  
            <td class="text-center d-flex">
              <div><img class="pointer" src="assets/images/save.svg" alt="save"></div>
              <div>
                <img class="pointer pl-24" src="assets/images/trash.svg" alt="delete">
              </div>
            </td>
  
  
          </tr>


      </tbody>
    </table>
  </div>
</section>
