.pointer {
    cursor: pointer;
}

.button {
    border-radius: 8px;
    font-family: $omnes-regular;
    font-size: 16px;
    height: 48px;
    border: none;
    width: 250px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(218, 201, 193, 0.5);
    &:focus {
        
        border-color: $green-fusion;
        border-radius: 8px;
        outline: none;
        box-shadow: 0px 4px 4px rgba(218, 201, 193, 0.5);
    }
}

.button-search{
    margin-top: 16px;
    @media screen and (min-width: 768px) {
        
    width: 180px;
    margin-top: 0px;
    }
}

.btn-primary-red {
    background: $dark-red-fp;
    color: white;
    transition: .5s;
    &:hover {
        background-color: $light-red-fp;
    }
}

.btn-primary-green {
    background: $green-fp;
    color: white;
    transition: .5s;
    &:hover {
        background-color: #07ac93;
    }
}

.btn-inactive {
    background: $gray-10;
    color: $gray-40;
}

.btn-block {
    width: 100%;
    height: 40px;
    max-width: 300px;
}

.pos-button-upload {
    display: flex;
    justify-content: center;
}

.button-logout{
    color:$green-fusion;
    border: 1px solid $green-fusion;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}