// Colors Fusion
$rojo-ngr: #AC162C;
$naranja-ngr:#FF4338;
$melon-ngr:#FF8300;
$gris-ngr:#978B82;
$green-fusion: #16AC96;
$green-light:#AFFFF5;
$blue-fusion: #404A69;
$blue-dark-fusion: #121232;
$gray-10: #EBEBEB;
$gray-30: #979797;
$gray-35:#A1A4B1;
$gray-40 :#808080;
$gray-60: #4D4D4D;
$gray-80:#978B82;

$dark-red-fp: #E20715;
$light-red-fp:#FD2415;
$gray-fp:#868686; 
$gray2-fp:#76797C;
$light-gray-fp:#F2F2F2;
$green-fp:#009174;
$yellow-fp:#FDB604;




//Fonts
@font-face {
    font-family: "omnes-bold";
    src: url('assets/fonts/Omnes-Bold.otf') format("truetype");
}

@font-face {
    font-family: "omnes-light";
    src: url('assets/fonts/Omnes-Light.otf') format("truetype");
}

@font-face {
    font-family: "omnes-regular";
    src: url('assets/fonts/Omnes_Regular.ttf') format("truetype");
}

@font-face {
    font-family: "omnes-medium";
    src: url('assets/fonts/Omnes-Medium.otf') format("truetype");
}

@font-face {
    font-family: "omnes-semibold";
    src: url('assets/fonts/omnes-semibold-webfont.ttf') format("truetype");
}

$omnes-bold: omnes-bold;
$omnes-light: omnes-light;
$omnes-regular:omnes-regular;
$omnes-medium:omnes-medium;
$omnes-semibold:omnes-semibold;