<section class="bg-login">
  <section class="grid-login ">
    <div class="pl-24 text-center ">
      <img class="login-img" src="assets/images/farmacias-peruanas.png" alt="logo">

    </div>

    <form class="grid-new-password container-login-fp">
      <div class="d-flex align-items-start justify-content-center h-inherit">
        <img class="logo-app" src="assets/images/icon.png" alt="logo">
      </div>
      <div class="title-form">
        <p class="text-body mb-0 mt-0 text-center"><strong>Pedro</strong> ingresa una nueva contraseña</p>

      </div>
      <div>
        <div class="input-box-form mt-16">
          <label class="mb-8">Nueva Contraseña</label>
          <input class="input-text" type="password">
          <!-- <div>
                              <div class="required-message" >
                                  La contraseña es <strong>requerida</strong>
                              </div>
                          </div> -->
        </div>

        <div class="input-box-form mt-16">
          <label class="mb-8">Repetir Contraseña</label>
          <input class="input-text" type="password">
          <!-- <div>
                          <div class="required-message" >
                              La contraseña es <strong>requerida</strong>
                          </div>
                      </div> -->
        </div>
      </div>


      <div>
        <div class="text-center">
          <button class="button btn-primary-red">Guardar Cambios </button>

        </div>
        <!-- <div>
                  <div class="text-center">
                      <button class="button btn-inactive">Ingresar</button>
                    
                  </div>
              </div> -->
      </div>

    </form>

  </section>
</section>
