<header class="navbar-home-grid ">
  <div>
    <img src="assets/images/logo-fp.png" alt="logo-fp">
  </div>
  <div class="navbar-option-grid">
    <span class="text-body--sb16">Pedro Chiok</span>
    <span class="text-center"><img src="assets/images/user.svg" alt="user"></span>
    <span class="pointer"><img src="assets/images/menu-dot.svg" alt="menu"></span>
  </div>
  <!-- navbar Menu Option -->
  <!-- <div class="box-menu-option pointer">
    <div class="pl-8 pr-8 pt-8 link-menu "><img class="pr-8" src="assets/images/tools.svg" alt="">Administrar Usuarios
    </div>
    <div class="pl-8 pr-8 pt-16 link-menu"><img class="pr-8" src="assets/images/dash-icon.svg" alt="">Dashboard</div>
    <div class="pl-8 pr-8 pt-16 link-menu"><img class="pr-8" src="assets/images/key.svg" alt="">Cambiar contraseña</div>
   <div class="pl-8 pr-8 pt-16 link-menu"><img class="pr-8" src="assets/images/config.svg" alt="">Ajuste de Sistema</div>
    <div class="pl-8 pr-8 pt-16 link-menu"><img class="pr-8" src="assets/images/logout.svg" alt="">Cerrar Sesión</div>
  </div> -->
</header>
<section>
  <div class="title-section text-title--24  red-text mt-24 mb-24 line-subtitle-medium text-left">
    <p><img class="pr-8" src="assets/images/icon-config.svg" alt=""> Ajuste de Sistema</p>

  </div>
  <div class="pr-1 pl-1 mt-24">
    <button class="button btn-primary-green button-search"><span><img class="icon-btn"
          src="assets/images/save-white.svg" alt=""></span> <span>Guardar</span></button>
  </div>
  <div>
    <div class="container-table pl-24 pr-24">
      <table>
        <tr>
          <th>Clave</th>
          <th>Valor</th>
        </tr>
        <tbody>
          <tr>
            <td>INTERVALO.CUADRATURA</td>
            <td><input class="input-table-system" type="text" name="" id=""
                value="lorem lipus Lorem Lipsus Lorem Lipsus Lorem"></td>

          </tr>


        </tbody>
      </table>
    </div>
  </div>

</section>
