.container-list-files {
  background-color: transparent;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    padding: 1em 0;
    background-color: $blue-fusion;
    width: 300px;
    height: 100%;
    min-height: 91vh;
  }
}

.selection-file {
  color: $gray-40;
  border-bottom: 1px solid $gray-10;

  @media screen and (min-width: 768px) {
    border-left: 5px solid $blue-fusion;
    color: $gray-10;
    border-bottom: none;

    &:hover {
      background-color: $blue-dark-fusion;
      border-left: 5px solid $melon-ngr;
    }
  }
}

.container-general {
  width: 100%;
  height: 91vh;
  padding: 1em;
  box-sizing: border-box;
}

.content-welcome {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w500 {
  width: 500px;
}

.w600 {
  width: 600px;
}

.text-file {
  width: 100%;
  padding-left: 20px;
}

// container table files 
.filter-table {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $gray-40;
}

.box-menu-option {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 178px;
  background-color: white;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
  padding: 1em;
  font-family: $omnes-regular;
  color: $gray-60;
}

.container-upload {
  border: 2px dashed $gray-30;
  border-radius: 10px;
  padding: 1em;
}

.container-details {
  border: 1px solid $gray-30;
  border-radius: 10px;

  .detail-text-banner {
    padding: .5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: $omnes-semibold;
    font-size: 16px;
    color: #fff;
  }

  .detail-state-error {
    background-color: $naranja-ngr;
  }

  .detail-state-complete {
    background-color: $green-fusion;
  }

  .detail-state-process {
    background-color: $melon-ngr;
  }
}


/* modal animation */

.modal-content {
  animation-name: open;
  animation-duration: 0.3s;
  background-color: #fff;
}

@keyframes open {
  0% {
    transform: scale(0.5)
  }

  75% {
    transform: scale(1.1)
  }

  100% {
    transform: scale(1)
  }
}


.bg-login {
  background-image: url(../../assets/images/fondo.jpg);
  background-size: cover;
  background-position: center;
}

.container-login-fp {
  background-color: #fff;
  border-radius: 10px;
  padding: 1em 2em;
}

.line-subtitle {
  width: 180px;
  border-bottom: 1px solid $dark-red-fp;

  p {
    margin-top: 0;
    text-align: right;
    margin-bottom: 3px;
    padding-right: 20px;
  }
}


.line-subtitle-large {
  width: 235px;
  border-bottom: 1px solid $dark-red-fp;

  p {
    margin-top: 0;
    text-align: right;
    margin-bottom: 3px;
    padding-right: 20px;
  }
}

.line-subtitle-xlarge {
  width: 345px;
  border-bottom: 1px solid $dark-red-fp;

  p {
    margin-top: 0;
    text-align: right;
    margin-bottom: 3px;
    padding-right: 20px;
  }
}


.line-subtitle-medium {
  width: 245px;
  border-bottom: 1px solid $dark-red-fp;

  p {
    margin-top: 0;
    text-align: right;
    margin-bottom: 3px;
    padding-right: 20px;
  }
}


.bg-dashboard {
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;
  min-height: 88vh;

  box-sizing: border-box;
}

.filter-container {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(125, 128, 130, 0.15);
  border-radius: 16px;
  display: flex;
  width: 780px;
  padding: 1em;
}

.card-companies {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(125, 128, 130, 0.15);
  border-radius: 16px;
  padding: 1em;
  width: 30%;
  color: $gray-40;
}

.border-title-card {
  border-bottom: 1px solid $dark-red-fp;
  width: 100%;

}

.border-bot-card {
  border-bottom: 1px solid #E5E5E5;


}

.w-items {
  width: 70%;
}

.modal-content{
  width: 800px;
  box-shadow: 0px 4px 4px rgba(218, 201, 193, 0.5);
  border-radius: 16px;
  padding: 2em;
}