.input-box-form {
    color: $gray-35;
    label {
        display: block;
    }
    .input-text {
        border: 1px solid $gray-35;
        box-sizing: border-box;
        border-radius: 8px;
        height: 48px;
        width: 250px;
        padding-left: 10px;
        color: $gray-35 !important;
        &:focus {
            color: $gray-35;
            border-color: $green-fusion;
            border-radius: 8px;
            outline: none;
        }
        &:active {
            color: $gray-35;
            border-color: $gray-35;
        }
        &::placeholder{
            color: $gray-35;
        }
    }
}


.form-search {
    color: $gray-40;
    @media screen and (min-width: 768px) {
        padding: 1em;
    }
}

.input-search {
    border: 1px solid $gray-40;
    box-sizing: border-box;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    // background-image: url('../../assets/images/search.svg');
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 20px;
    padding-left: 2.5em;
    font-size: 16px;
}

.form-control-select {
    display: flex;
    align-items: center;
}

.form-select {
    border: 1px solid $gray-35;
    box-sizing: border-box;
    border-radius: 8px;
    height: 48px;
    width: 145px;
   
    color: $gray-35;
    padding-left: 5px;
    font-family: $omnes-regular;
    font-size: 14px;
    &:focus {
        color: $gray-35;
        border-color: $green-fusion;
        border-radius: 8px;
        outline: none;
    }
}


.select-new-user{
    width: 250px;
}

.form-select-table {
    border: 1px solid $gray-35;
    box-sizing: border-box;
    border-radius: 8px;
    height: 30px;
    width: 100%;
    max-width: 150px;
    color: $gray-35;
    padding-left: 5px;
    font-family: $omnes-regular;
    font-size: 14px;
    &:focus {
        color: $gray-35;
        border-color: $green-fusion;
        border-radius: 8px;
        outline: none;
    }
}

.progress-bar {
    background-color: $gray-10;
    height: 5px;
    .advance-bar {
        background-color: $green-fusion;
        color: transparent;
        height: 5px;
    }
}

.input-file::-webkit-file-upload-button {
    visibility: hidden;
}

.input-file::before {
    content: 'Elegir archivo';
    display: inline-block;
    background: #fff;
    border: 1.5px solid $green-fusion;
    border-radius: 4px;
    padding: 5px 20px;
    outline: none;
    white-space: nowrap;
   
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    color: $green-fusion;
    font-family: $omnes-regular;
}

.input-file:hover::before {
    border-color: $green-fusion;
}

.input-home{
    padding-bottom: 16px;
    @media screen and (min-width: 768px) {
    width: 170px;
    padding-right: 16px;
    padding-bottom: 0;
    }
}

.input-home-2{
    
    @media screen and (min-width: 768px) {
   
    padding-right: 16px;
 
    }
}

// Checkbox
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input[type="checkbox"] {
    position: relative;
    width: 45px;
    height: 22.5px;
    -webkit-appearance: none;
    background: #c6c6c6;
    border-radius: 100px;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
}
input:checked[type="checkbox"] {
    background: $dark-red-fp;
}
input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transform: scale(1.1);
    transition: .5s;
}
input:checked[type="checkbox"]::before {
    left: 50%;
}

.input-table{
    border: 1px solid $gray-35;
    box-sizing: border-box;
    border-radius: 8px;
    height: 30px;
    color: #808080; 
    font-family: $omnes-regular;
    font-size: 16px;
    width: 100%;
    max-width: 200px;
}

.input-table-system{
    border: 1px solid $gray-35;
    box-sizing: border-box;
    border-radius: 8px;
    height: 30px;
    color: #808080; 
    font-family: $omnes-regular;
    font-size: 16px;
    width: 100%;
    max-width: 500px;
}

.filter-date{
    border: 1px solid $gray-35;
        box-sizing: border-box;
        border-radius: 8px;
        padding-left: 10px;
        color: $gray-35 !important;
        font-family: $omnes-regular;
        font-size: 14px;
}