.d-flex {
  display: flex;
}

// Login
.grid-login {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    justify-items: center;
  }
}

.grid-form-login {
  height: 80vh;
  display: grid;
  grid-template-rows: .8fr 1.5fr  .9fr;
  align-items: center;
  justify-items: center;

  @media screen and (min-width: 768px) {
    grid-template-rows: 0.6fr .9fr 0.5fr;
    height: 80vh;
  }
}

// Lost password
.grid-lost-password {

  display: grid;
  grid-template-rows: .5fr .8fr 0.5fr .5fr;
  align-items: center;
  justify-items: center;

}

// New Password
.grid-new-password {
  height: 100vh;
  display: grid;
  grid-template-rows: .1fr  1fr 0.9fr;
  align-items: center;
  justify-items: center;

  @media screen and (min-width: 768px) {
    height: 82vh;
  }
}

// Change Password
.grid-change-password {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 50px 1fr 0.5fr;
  align-items: center;
  justify-items: center;

  @media screen and (min-width: 768px) {
    height: 86vh;
  }

  .text-body {
    font-size: 20px;
  }
}

// Home
.navbar-home-grid {
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(229, 229, 229, 0.58);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  box-sizing: border-box;
}

.navbar-option-grid {
  display: grid;
  grid-template-columns: 1fr .6fr .1fr;
  align-items: center;
  justify-items: center;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr .1fr;
  }
}

//Home
.grid-file {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
}

.grid-home {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
  }
}

.grid-bar {
  display: flex;
  justify-content: center;

  div {
    width: 100%;
    max-width: 300px;
  }
}

.flex-buttons-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: start;
  }
}

.content-buttons {
  display: flex;
  justify-content: flex-end;

}

.d-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center-card {
  display: flex;
  align-items: center;
  width: 60%;
}

.grid-title-card {
  display: grid;
  grid-template-rows: 80px .5fr;
  align-items: center;
}

.grid-card-companies {
  display: flex;
  justify-content: flex-start;

  flex-wrap: wrap;
  padding: 0 1em;

  .card-companies {
    margin-bottom: 1em;

    
  }
  
}

.card-companies:nth-child(3n-1) {
    margin:0 15px 1em 15px;
  }

.grid-card-header {
  display: grid;
  grid-template-rows: 1fr .5fr;
  align-items: center;
}

.grid-section-card {
  display: flex;
}


.grid-menu-comprobante{
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  div{
    width: 50%;
  }
}

.grid-option-filter{
  display: flex;
  
}

.grid-btn-export{
  display: flex;
  justify-content: flex-end;
}

.container-modal{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-new-user{
  display: flex;
  flex-wrap: wrap;

}

