<header class="navbar-home-grid ">
  <div>
    <img src="assets/images/logo-fp.png" alt="logo-fp">
  </div>
  <div class="navbar-option-grid">
    <span class="text-body--sb16">Pedro Chiok</span>
    <span class="text-center"><img src="assets/images/user.svg" alt="user"></span>
    <span class="pointer"><img src="assets/images/menu-dot.svg" alt="menu"></span>
  </div>
  <!-- navbar Menu Option -->
  <div class="box-menu-option pointer">
    <div class="pl-8 pr-8 pt-8 link-menu "><img class="pr-8" src="assets/images/tools.svg" alt="">Administrar Usuarios
    </div>
    <div class="pl-8 pr-8 pt-16 link-menu"><img class="pr-8" src="assets/images/dash-icon.svg" alt="">Dashboard</div>
    <div class="pl-8 pr-8 pt-16 link-menu"><img class="pr-8" src="assets/images/key.svg" alt="">Cambiar contraseña</div>
    <div class="pl-8 pr-8 pt-16 link-menu"><img class="pr-8" src="assets/images/logout.svg" alt="">Cerrar Sesión</div>
  </div>
</header>
<section class="bg-dashboard">
  <div class="title-section text-title--24 red-text pt-24 mb-24 line-subtitle text-left">
    <p> <img class="pos-icon-dash" src="assets/images/icon-dash.svg" alt="Dashboard"> Dashboard</p>

  </div>
  <div class="pr-1 pl-1">
    <div class="filter-container ">
      <div class="d-flex mr-24">
        <p class="title-filter text-body--sb16--g10 gray-40-text mr-24">Compañia :</p>

        <div class="form-control-select input-home ">

          <select class="form-select">
            <option>Laboratorio Pruebas</option>
            <option>Laboratorio Pruebas  2</option>


          </select>
        </div>
      </div>

      <div class="d-flex ml-24 mr-24">
        <p class="title-filter text-body--sb16--g10 gray-40-text mr-24">Fecha :</p>
        <input class="gray-40-text filter-date" type="date" name="" id="">
      </div>
      <div class="ml-24">
        <button class="button button-filter btn-primary-red">Filtrar</button>
      </div>
    </div>
  </div>
  <!-- Companies -->
  <div class="grid-card-companies mt-24">


    <div class="card-companies grid-title-card">
      <div class="grid-section-card">
        <div class="border-title-card  grid-card-header">
          <p class="mb-0 mt-0 text-body--sb24--g40 red-text">Farmacias Peruanas </p>
          <p class="mt-8 mb-8"><span class="text-body--sb16--g10 ">RUC :</span> 209777787877</p>
        </div>
        <div>
          <img class="pl-16" src="assets/images/check.svg" alt="">
        </div>
      </div>

      <div>
        <div class="border-bot-card align-center-card mt-8">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Recibidas : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>
        <div class="border-bot-card align-center-card">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Faltantes : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>
        <div class="align-center-card">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Sobrantes : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>

      </div>


    </div>
    <div class="card-companies grid-title-card">
      <div class="grid-section-card">
        <div class="border-title-card  grid-card-header">
          <p class="mb-0 mt-0 text-body--sb24--g40 red-text">Farmacias Peruanas con descripcion muy extensa </p>
          <p class="mt-8 mb-8"><span class="text-body--sb16--g10 ">RUC :</span> 209777787877</p>
        </div>
        <div>
          <img class="pl-16" src="assets/images/alert.svg" alt="">
        </div>
      </div>

      <div>
        <div class="border-bot-card align-center-card mt-8">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Recibidas : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>
        <div class="border-bot-card align-center-card">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Faltantes : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>
        <div class="align-center-card">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Sobrantes : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>

      </div>


    </div>
    <div class="card-companies grid-title-card">
      <div class="grid-section-card">
        <div class="border-title-card  grid-card-header">
          <p class="mb-0 mt-0 text-body--sb24--g40 red-text">Farmacias Peruanas </p>
          <p class="mt-8 mb-8"><span class="text-body--sb16--g10 ">RUC :</span> 209777787877</p>
        </div>
        <div>
          <img class="pl-16" src="assets/images/error.svg" alt="">
        </div>
      </div>

      <div>
        <div class="border-bot-card align-center-card mt-8">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Recibidas : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>
        <div class="border-bot-card align-center-card">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Faltantes : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>
        <div class="align-center-card">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Sobrantes : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>

      </div>


    </div>
    <div class="card-companies grid-title-card">
      <div class="grid-section-card">
        <div class="border-title-card  grid-card-header">
          <p class="mb-0 mt-0 text-body--sb24--g40 red-text">Farmacias Peruanas </p>
          <p class="mt-8 mb-8"><span class="text-body--sb16--g10 ">RUC :</span> 209777787877</p>
        </div>
        <div>
          <img class="pl-16" src="assets/images/check.svg" alt="">
        </div>
      </div>

      <div>
        <div class="border-bot-card align-center-card mt-8">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Recibidas : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>
        <div class="border-bot-card align-center-card">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Faltantes : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>
        <div class="align-center-card">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Sobrantes : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>

      </div>


    </div>
    <div class="card-companies grid-title-card">
      <div class="grid-section-card">
        <div class="border-title-card  grid-card-header">
          <p class="mb-0 mt-0 text-body--sb24--g40 red-text">Farmacias Peruanas con descripcion muy extensa </p>
          <p class="mt-8 mb-8"><span class="text-body--sb16--g10 ">RUC :</span> 209777787877</p>
        </div>
        <div>
          <img class="pl-16" src="assets/images/alert.svg" alt="">
        </div>
      </div>

      <div>
        <div class="border-bot-card align-center-card mt-8">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Recibidas : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>
        <div class="border-bot-card align-center-card">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Faltantes : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>
        <div class="align-center-card">
          <div class="w-items">
            <p class="mb-8 mt-8">Facturas Sobrantes : </p>
          </div>
          <div class="ml-24">
            <p class="mb-8 mt-8 green-text">2 </p>
          </div>

        </div>

      </div>


    </div>
  
  </div>
</section>
